<div class="layout">
    <div class="background-dark">
        <!-- Empty -->
    </div>

    <div class="background-dark">
        <h2 class="text-center game-title">Hyper Hop</h2>
    </div>

    <game-list></game-list>

    <game-preview project="HyperHop"></game-preview>

    <div class="background-dark">
        <div class="justify-start self-center px-8">
            <label class="mr-2"> Version: </label>

            <select title="version"
                class="transition duration-300 cursor-pointer bg-primary hover:bg-primary-hover h-8 px-2 outline-none rounded-md">
                <option *ngFor="let test of tests">
                    {{ test.name }}
                </option>
            </select>
        </div>
    </div>

    <div class="background-dark">
        <h3 class="text-center">E</h3>
    </div>
</div>
