<div class="layout">
    <div class="background-dark">
        <!-- Empty -->
    </div>

    <div class="background-dark">
        <h2 class="text-center game-title">{{ currentProject }}</h2>
    </div>

    <div class="background-light h-full app-list">
        <button
            *ngFor="let app of apps"
            (click)="selectApp(app)"
            class="flex w-full app-button"
            [class.current]="app.Name == currentProject"
        >
            <img [src]="app.IconURL" alt="" class="app-icon" />
            <h3 class="flex-v-center">{{ app.Name }}</h3>
        </button>
    </div>

    <iframe id="game-preview-iframe" class="w-full h-full" frameborder="0">
    </iframe>

    <div class="background-dark flex justify-center">
        <label class="mr-2 flex-v-center"> <h3>Version:</h3> </label>
        <select
            class="version-button flex-v-center"
            title="version"
            (change)="selectVersion($event)"
        >
            <option *ngFor="let version of getVersions()">
                {{ version }}
            </option>
        </select>
    </div>

    <div class="background-dark flex justify-center">
        <button
            [title]="buttonText"
            (click)="appInteract()"
            class="game-button"
        >
            <h3 class="app-button-text">{{ buttonText }}</h3>
            <div class="download-fill"></div>
        </button>

        <button class="delete-button flex-v-center" (click)="modalOpen()">
            <img src="/assets/bin.png" alt="bin" />
        </button>
    </div>
</div>

<div id="popup" class="shadow modal-closed">
    <div class="modal">
        <h4 class="text-center">Are you sure you want to delete version ?</h4>

        <div class="flex justify-center">
            <button class="red" (click)="modalDelete()">Delete</button>
            <button class="green" (click)="modalClose()">Cancel</button>
        </div>
    </div>
</div>
