<div class="layout">

    <div class="background-light h-full app-list">
        <button *ngFor="let app of apps;let indexOfelement=index;" (click)="selectApp(app ,indexOfelement)"
            class="flex w-full app-button" [class.current]="indexOfelement === currentProject">
            <img [src]="app.IconURL" alt="" class="app-icon" />
            <h3 class="flex-v-center">{{ app?.Name }}</h3>
        </button>
    </div>

    <iframe id="game-preview-iframe" class="w-full h-full" frameborder="0">
    </iframe>

    <div class="background-dark flex justify-center">
        <label class="mr-2 flex-v-center">
            <h3>Version:</h3>
        </label>
        <select class="version-button flex-v-center" [(ngModel)]="currentVersion" (ngModelChange)="updateButton()">
            <option *ngFor="let version of getVersions()" [ngValue]="version">
                {{ version }}
            </option>
        </select>
    </div>

    <div class="background-dark flex justify-center">
        <button (click)="appInteract()" class="game-button">
            <h3 class="app-button-text" #buttonText>Download</h3>
            <div class="download-fill"></div>
        </button>

        <button class="delete-button flex-v-center" (click)="modalToggle()">
            <img src="/assets/bin.png" alt="bin" />
        </button>
    </div>
</div>

<div id="popup" class="shadow modal-closed">
    <div class="modal">
        <h4 class="text-center">Are you sure you want to delete version?</h4>

        <div class="flex justify-center">
            <button class="red" (click)="modalDelete()">Delete</button>
            <button class="green" (click)="modalToggle()">Cancel</button>
        </div>
    </div>
</div>
