@tailwind base;
@tailwind components;
@tailwind utilities;


h1,h2,h3,h4,h5,h6{
    color: var(--text);
}

*{
    color: var(--subText);
    @apply select-none;
}

body {    
    --backgroundDark: hsl(200, 9%, 13%);
    --backgroundMedium: hsl(206, 9%, 15%);
    --backgroundLight: hsl(210, 9%, 18%);

    --text: rgb(231, 234, 236);
    --subText: rgb(197, 200, 204);

    --link: #457009;
    --link-hover: #ffffff;
    --link-focus: #547c1c;
}

body.light {
    --backgroundDark: hsl(200, 5%, 77%);
    --backgroundMedium: hsl(210, 38%, 95%);
    --backgroundLight: hsl(206, 9%, 85%);
    
    --text: rgb(0, 0, 0);
    --subText: rgb(45, 47, 49);
    
    --link: #86c232;
    --link-hover: black;
    --link-focus: rgb(46, 75, 6);
}


@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

.icons {
    font-family: "Material Icons Outlined";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
