@tailwind base;
@tailwind components;
@tailwind utilities;


h1,h2,h3,h4,h5,h6{ 
    @apply text-secondary;
}

*{
    @apply select-none text-secondary-dark;
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");

.icons {
    font-family: "Material Icons Outlined";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}
