.app-button {
    background-color: var(--light);
    border-radius: 0;
    outline: 0;
    border: 0;

    transition: 0.2s background-color;

    cursor: pointer;
}

.app-button:hover {
    background-color: var(--lighter);
}

.current {
    background-color: var(--lighter);
}
